<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <img class="about-icon" src="images/download.png" width="50">
            <h4>Download the source code</h4> coming soon
            
        </div>
    </div>

    <br/>

    <div class="row-fluid">
        <div class="span12">
            <img class="about-icon" src="images/discuss.png" width="50" style="float: left;">
            <h4>Comments and questions</h4>
            <p>I love to hear your feedback. Post your questions and comments on the blog post associated with this
                application.</p>
        </div>
    </div>

    <br/>


    <div class="row-fluid">
        <div class="span12">
            <img class="about-icon" src="images/twitter.png" width="50" style="float: left;">
            <h4>Follow us on Twitter</h4>
            <p><a href="http://twitter.com/flipitlive">@flipitlive</a></p>
        </div>
    </div>

    <br/>


    <div class="row-fluid">
        <div class="span12">
            <img class="about-icon" src="images/blog.png" width="50" style="float: left;">
            <h4>Check out our site</h4>
            <p><a href="http://flipitlive.com">http://FlipItLive.com</a></p>
        </div>
    </div>
</div>